@model IEnumerable<AddtoCart.Models.TBL_PRODUCT>

@{
    ViewBag.Title = "Index";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["msg"]
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10  ">
     @if (TempData["total"] == null)
     {
         <h3>Total Bill:0Rs.</h3>

     }
     else
     {
        <h3>Total Bill: @TempData["total"] Rs. </h3>
     }

    </div>
    <div class="col-lg-2 col-md-2 col-sm-2  ">
        <h4 style="color:#808080 ;font-family: 'Arial Rounded MT';text-align :center"><span class="btn btn-info btn-sm">@Html.ActionLink(" Check Out ","checkOut","Home")</span></h4>


    </div>

    </div>

    <div class="row" style="margin-left:100px">
        @foreach (var item in Model)
        {
          <div class="col-lg-4 col-md-4 style="height:200px;margin-top:100px">

                <img class="img img-responsive cimg" src="@Url.Content(item.PROD_IMAGE)" style="height:100%;width:100%;border-radius:50px 50px 50px 50px"/>
                <h4 style="color:#808080 ;font-family: 'Arial Rounded MT';text-align :center"> @item.PROD_NAME</h4>
                <h5 style="color:#808080 ;font-family: 'Arial Rounded MT';text-align :center">@item.PROD_PRICE</h5>
                <h5 style="text-align:center">
                <a class ="btn btn-success btn-sm" href="@Url.Action("addToCart1",new {id= @item.PROD_ID})"><i style="font-size:24px" class="fa">&#xf07a;</i>
ADD TO CART</a>
                </h5>

          </div>
        }


    </div>

